html, body, div{
  height: 100%;
}
div, header{
  box-sizing: border-box;  
}


.flex {
  display: flex;
}
.f-d-r{
  flex-direction: row;
}
.f-d-c{
  flex-direction: column;
}
.f-jc-sb{
  justify-content: space-between;
}